/* Default values
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/

:root {
  --gradient-right: #393e2b;
  --gradient-left: rgb(71 78 52);
  --gradient-background: rgb(53 58 39);
  --gradient-background-right: rgb(194 253 51 / 0%);
  --gradient-background-left: rgb(206 241 12 / 0%);
  --color-showcase-header: rgb(62 69 44);
  --gradient-showcase-header-left: rgb(83 92 60);
  --btn-background: rgb(73 82 53);
  --btn-background-hover: rgb(82 91 59);
  --btn-outline: rgb(92 111 45);
  --offline: #898989;
}

* {
font-size: 100%;
font-family: 'Motiva Sans';
}

.main-body {
  /*background-color: #383c24;
  background-image: linear-gradient(to-right, var(--gradient-left), var(--gradient-right));
  */
  
  background-image: linear-gradient(#353a27, #383c24);
  
  max-width: 975px;
  /*
  min-height: 224px;
  height: 900px;
  */
  
  color: white;

  margin-left: auto;
  margin-right: auto;
  
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 45px;
}

header {
/*Make fixed perhaps? I'll figure this out later
Fixed may not work either because it'd mean the navbar would ALWAYS appear on the top of the screen
Not really sure if I want that behavior, will look into more.
*/
/*background-color: #181c24;*/
background-color: #222518;

color: white;

width: 100%;
position: absolute;
top: 0;
left: 0;
right: 0;

display:flex;

/*Original height*/
/*height: 100px;*/
height: 90px;
/*padding-left: 470px;*/
/*box-shadow: 0 2px 5px rgba(0,0,0,0.2); */

}

body {
/*background-color: #282c34;
*/
background-color: #404434;

margin-top: 90px;
}

.nav-links {
display: flex;
justify-content: center;
align-items: center;
margin-left:auto;
margin-right: auto;
width: 975px;
max-width: 975px;
height: 100%;
top: 0;
} 

.nav-links a {
text-decoration: none;
color: white;
}


.nav-links li {
display: flex;
flex: 1;
justify-content: center;
align-items: center;
text-align: center;
color: white;
padding: 0 16px;
text-decoration: none;
font-family: arial;
width: 125px;
height: 100%;
}

.nav-links ul {
display: flex;
list-style: none;
padding: 0;
margin: 0;
width: 100%;
height: 100%;
}

.nav-ul.open {
  display: block;
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  background-color: #222518;
  z-index: 1000;
}

.nav-ul.open li {
  display: block;
  text-align: center;
  padding: 10px 0;
}


.hamburger-menu {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
}

.mobile-menu {
  display: none;
}

.mobile-menu.open {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 400px;
  background-color: #292c1f;
  border-radius: 10px;
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  border: 1px solid #222518;
  
}

.mobile-menu.open ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-menu.open li {
  display: block;
  text-align: center;
  padding: 10px 0;
}

.mobile-menu.open li a {
  color: white; /* Override link color */
  text-decoration: none; /* Remove underline */
  display: block; /* Ensure the link takes up the full width of the list item */
  width: 100%; /* Ensure the link takes up the full width of the list item */
  padding: 10px 0; /* Add padding to the link */
}

@media (max-width: 768px) {
  .hamburger-menu {
      display: block;
  }

  .nav-links {
      display: none;
  }

  .nav-ul {
      display: none;
      flex-direction: column;
  }

  .nav-ul.open {
      display: flex;
  }

}

.pfp-container {
position: relative;
top: 30px;
left: 0px;
}

.top {
position: relative;
}

.pfp {
position: absolute;
left: 15px;
top: 32px;
height: 170px;
width: 185px;
}

.menu-item:hover {
cursor: default;
text-shadow: 1px 1px 2px #000000aa;
color: #ffffff;
font-weight: 600;
background-color: #958831;
}

.menu-item:active, .menu-item a:active {
background-color: #505c44; /* Background color when hovered */
color: #ffdd33;
}

.menu-item {
color: #dcdedf;
font-weight: 500;
height: 100%;
}

.menu-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.heading {
display: flex;
padding-bottom: 30px;
gap: 10px;
position: relative;
}

.user-info {
padding-top: 60px;
padding-left: 15px;
}

.user-info p {
margin: 0;
font-weight: 200;
line-height: 30px;
}

.main-content {
display: flex;
gap: 10px;
padding-top: 25px;
}

.left-content {
width: 68%;
/*background-color: black;*/
}

.right-content {
width: 32%;
border-radius: 3px;
background-color: #282c1c;
padding-left: 5px;
padding-right: 5px;
}

#online-status {
color: #57cbde;
font-weight: 200;
font-size: 20px;
}

.profile-label {
font-family: "Motiva Sans";
font-weight: 200;
color: #9b9b9b;
font-size: 24px;
}

.upper-tab {
/*
background-image:  linear-gradient(to-right, var(--gradient-background-left), var(--gradient-background-right));*/
/*background-color: #40442c;
*/
display: flex;
align-items: center;

padding-left: 10px;

font-size: 16px;
height:40px;
background-image: linear-gradient(90deg, var(--gradient-showcase-header-left) 0%, var(--color-showcase-header) 90%);

white-space: nowrap;

border-radius: 3px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;

font-weight: 200;
}

.lower-tab {
/*padding: 5px 10px 5px 10px;*/
font-size: 16px;

background-image: linear-gradient(90deg, #303820 0%, #303820 90%);

white-space: nowrap;

border-radius: 5px;
border-top-left-radius: 0px;
border-top-right-radius: 0px;

padding: 20px 10px 11px 10px;
}

.inner-tab {
/*
background: radial-gradient(farthest-side at top right, var(--gradient-right), transparent 500px), radial-gradient(farthest-corner at top left, var(--gradient-left), transparent 600px), radial-gradient(farthest-corner at bottom right, var(--gradient-background-right), transparent 500px), radial-gradient(farthest-corner at bottom left, var(--gradient-background-left), transparent 600px);*/
background-color: rgba(0, 0, 0, 0.3);

font-size: 13px;
border-radius: 5px;
min-height:35px;
margin-bottom: 0px;


padding: 8px;
color: rgb(150, 150, 150);

}

.align-items-center {
display: flex;
align-items: center;  
white-space: normal;
}

.background {
  --gradient-right: #393e2b;
  --gradient-left: rgb(71 78 52);
  --gradient-background: rgb(53 58 39);
  --gradient-background-right: rgb(194 253 51 / 0%);
  --gradient-background-left: rgb(206 241 12 / 0%);
  --color-showcase-header: rgb(62 69 44);
  --gradient-showcase-header-left: rgb(83 92 60);
  --btn-background: rgb(73 82 53);
  --btn-background-hover: rgb(82 91 59);
  --btn-outline: rgb(92 111 45);
}

.projects {
margin-top: 10px;
}

.project {
margin-bottom: 20px;
height: auto;
}

.project-inner-upper {
  display: flex;
  /*align-items: space-between;*/
  align-items: flex-start;
}

.project-inner-upper a:hover {
  color: #ffdd33
}

.project-inner-upper a {
  text-decoration: none;
  color: white;
}

.project-inner-lower {
background-color: var(--gradient-background);
margin-top: 9px;
height: 51px;
padding-left: 10px;
border-radius: 3px;
}

/*Got lazy and just copied directly from steam for this rule*/
.achievement_progress_bar_ctn {
  height: 8px;
  padding: 1px;
  width: 145px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, .1);
}

/*Got lazy and just copied directly from steam for this rule*/
.achievement_progress_bar_ctn .progress_bar {
  background-color: #364359;
  height: 8px;
  border-radius: 4px;
  background: linear-gradient(180deg, rgba(255, 255, 255, .3) 0%, var(--color-showcase-header) 80%);
}

.attending {
background-color: rgba(0, 0, 0, 0.3);

font-size: 13px;
border-radius: 5px;
margin-bottom: 0px;

position: absolute;

height: 60px;

display: flex;
gap: 15px;
align-items: center;

padding: 8px;

top: 60px;
right: 2px;

width: 250px;
}

/* GIVE ALL NON DIGIT TEXT ITS OWN SELECTOR!!
.right-content a:hover {
text-decoration: underline;
cursor: pointer;
} */

.right-content a {
text-decoration: none;
color: white;
}


.right-content img:hover {
background-color: #958831;
transform: scale(1.1);
}

.right-content a:hover {
  color: #ffdd33;
}

.right-content a:active {
  color: #505c44;
}

.colorWhite {
  color: white;
}

#fsc:active {
  transform: scale(0.9);
}


/*Handle mobile display*/
@media (max-width: 768px) {

  .main-content {
    flex-wrap: wrap;
  }

  .left-content, .right-content {
    float: none;
    width: 100%;
  }

  .main-body {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%; /* Ensure full width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }

  .nav-links li {
    width: 100%;
  }

  .nav-links {
    width: 100%;
  }

  

  .user-info p {
    font-size: 16px;
  }

  .profile-label {
    font-size: 20px;
  }

  .upper-tab {
    font-size: 14px;
  }

  .lower-tab {
    font-size: 14px;
  }

  .inner-tab {
    font-size: 12px;
  }

  .project-inner-upper a {
    font-size: 14px;
  }

  .project-inner-lower {
    height: 45px;
  }

  .achievement_progress_bar_ctn {
    width: 125px;
  }

}

@media (max-width: 730px) {

  .attending {
    display: none;
  }

}

.proj-languages img:hover{
  background-color: #958831;
  transform: scale(1.1);
}

.proj-languages img{
  background-color: #50543c;
  border-radius: 3px;
  padding: 2px;
}

.project-inner-upper a {
  word-wrap: break-word; /* Break long words */
  white-space: normal; /* Allow text to wrap */
  overflow-wrap: break-word; /* Ensure text wraps properly */
}